{% extends 'admin_layout.html' %}

{% block body %}
    <!--<h1 id="Dashboard_heading"> Dashboard</h1>
    <hr>-->
    <div style="margin-top: 5%;">
      <h2 style="text-align: center;">Count of Student Skiping Meals</h2>
      <br>
      <div class="table-responsive-md">
      <table class="table" style="text-align: center;">
          <thead class="thead-dark">
              <tr>
                  <th scope="col">Date</th>
                  <th scope="col">Breakfast</th>
                  <th scope="col">Lunch</th>
                  <th scope="col">Dinner</th>
              </tr>
          </thead>
          <tbody>
              {% for x in  pinfo%}
              <tr>
                  <td>{{  x['date']}}</td>
                  <td>{{ x['breakfast'] }}</td>
                  <td>{{ x['lunch'] }}</td>
                  <td>{{ x['dinner'] }}</td>
              </tr>
              {% endfor %}
          </tbody>
      </table>
      </div>
  </div>
{% endblock %}