{% extends 'doc_layout.html' %}

{% block body %}

<div style="margin-top: 5%;">
    <h2 style="text-align: center;">Your Reports</h2>
    <br>
    <br>
    <div class="table-responsive-md">
    <table class="table" style="text-align: center;">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Patient's email</th>
                <th scope="col">Date</th>
                <th scope="col">Time</th>
                <th scope="col">Reports</th>
            </tr>
        </thead>
        <tbody>
            {% for g_report in g_reports%}

            <tr>
                <td>{{g_reports[g_report]['Pushed to']}}</td>
                <td>{{g_reports[g_report]['Date']}}</td>
                <td>{{g_reports[g_report]['Time']}}</td>
                <td><a target="_blank" href="{{ g_reports[g_report]['Url'] }}"><button class="btn view_btn">View</button></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</div>

{% endblock %}