{% extends 'pat_layout.html' %}

{% block body %}

    <div style="margin-top: 5%;">
        <h2 style="text-align: center;">Stored Reports</h2>
        <br>
        <div class="table-responsive-md">
        <table class="table" style="text-align: center;">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Posted By</th>
                    <th scope="col">Date</th>
                    <th scope="col">Time</th>
                    <th scope="col">Note</th>
                    <th scope="col">View Report</th>
                </tr>
            </thead>
            <tbody>
                {% for report in pinfo['Reports'] %}
                <tr>
                    {% if  pinfo['Reports'][report]['Pushed by']  == "User" %}
                        <td>{{ pinfo['Reports'][report]['Pushed by'] }}</td>
                    {% endif %}
                    {% if  pinfo['Reports'][report]['Pushed by']  != "User" %}
                        <td>Dr. {{ pinfo['Reports'][report]['Pushed by'] }}</td>
                    {% endif %}
                    <td>{{ pinfo['Reports'][report]['Date'] }}</td>
                    <td>{{ pinfo['Reports'][report]['Time'] }}</td>
                    <td>{{ pinfo['Reports'][report]['Note'] }}</td>
                    <td><a target="_blank" href="{{ pinfo['Reports'][report]['Url'] }}"><button class="btn view_btn">View</button></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>

{% endblock %}