{% extends 'layout1.html' %}

{% block body %}

    <!--Added for search------->

    <input type="text" id="filterInput" placeholder="Search Posted_By..." onkeyup="searchinfo()">

    <!---------------------->

    <h1 style="text-align: center;">{{pinfo['name']}} Dashboard</h1>
    <hr>
    <!--<form method="POST" action="/doc_upload" enctype="multipart/form-data">
        <label>Select report to upload:</label>
        <input type="file" name="file"><br><br>
        <button type="btn btn-primary">Submit</button>
    </form>-->

    <div class="row">
        <div class="col-md-12">
            <form method="POST" action="/doc_upload" enctype="multipart/form-data">
                <div class="form-group">
                  <label for="report">Select report to upload:</label>
                  <input type="file" class="form-control" id="report" aria-describedby="emailHelp" name="file">
                </div>
                <button type="submit" class="btn btn-secondary btn-lg btn-block">Submit</button>
            </form>
        </div>
    </div>
<!-- 
    <div class="row">
        {% for report in pinfo['Reports'] %}
            <div class="col-md-4">
                <div class="thumbnail">
                    <img style="height: 200px;" src="{{ pinfo['Reports'][report]['Url'] }}">
                </div>
            </div>
        {% endfor %}
    </div>
-->


<!--  <div style="text-align: center">

        {% for report in pinfo['Reports'] %}
        <input id="satu" type="checkbox" class="carouselFullScreen" />
            <ul class="carousel-container">
                <li>
                    <input type="checkbox" checked="checked" class="carousel-toggle" />
                    <ul class="carousel-content">
                        <li><img src="{{ pinfo['Reports'][report]['Url'] }}" /></li>
                    </ul>
                </li>
                <label for="satu" class="carousel-fullscreen"></label>
        </ul>
        {% endfor %}
        
    </div>  
-->

    <div style="margin-top: 5%;">
        <h2 style="text-align: center;">{{pinfo['name']}} Old Reports</h2>
        <br>
        <table class="table" style="text-align: center;">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Posted_By</th>
                    <th scope="col">Date</th>
                    <th scope="col">Time</th>
                    <th scope="col">View_Reoport</th>
                </tr>
            </thead>
            <tbody id="total_report_info">
                {% for report in pinfo['Reports'] %}
                <tr>
                    <td>{{ pinfo['Reports'][report]['Pushed by'] }}</td>
                    <td>{{ pinfo['Reports'][report]['Date'] }}</td>
                    <td>{{ pinfo['Reports'][report]['Time'] }}</td>
                    <td><a target="_blank" href="{{ pinfo['Reports'][report]['Url'] }}"><button class="btn btn-info">View</button></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


    <script>

        const searchinfo = () => {
            let filter=document.getElementById('filterInput').value.toUpperCase();
            let t_body = document.getElementById('total_report_info');
            let d_info=t_body.getElementsByTagName('tr');
            for (var i=0 ; i<d_info.length ; i++)
            {
                var t_n=d_info[i].getElementsByTagName('td')[0];
                var t_name=(t_n.textContent||t_n.innerHTML);
                if(t_name.toLocaleUpperCase().indexOf(filter) > -1){
                    d_info[i].style.display='';
                }else{
                    d_info[i].style.display='none'
                }
            }
            
        }
    
    </script>


{% endblock %}
