{% extends 'pat_layout.html' %}

{% block body %}
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyAzveNSCUtvzBAJs4Vm7rLwXa7K23y-330" type="text/javascript"></script>

    <div style="margin-top: 5%;">
        <form id="doc_search">
            <div class="form-group" style="display: flex; justify-content: space-around;">
              <div>
                <label class="form-label">Enter your location: </label>
                <input type="text" class="form-control" id="filterInput" placeholder="Enter your location" onkeyup="searchinfo()">
              </div>  
              <div>
                <label class="form-label">Specialist you need: </label>
                <input type="text" class="form-control" id="filterInput1" placeholder="Specialist you need" onkeyup="searchinfo()">
              </div>
              <div>
                <label class="form-label">Name of the Doctor: </label>
                <input type="text" class="form-control" id="filterInput2" placeholder="Enter a name" onkeyup="searchinfo()">
              </div>
            </div>
        </form>
        <br>
        <table class="table" style="text-align: center;">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Place</th>
                    <th scope="col">Specialist</th>
                    <th scope="col">View Profile</th>
                </tr>
            </thead>
            <tbody id="docTable">
                {% for doc in docs %}
                <tr>
                    <td>{{ docs[doc]["name"] }}</td>
                    <td>{{ docs[doc]["address"]["city"]}}, {{docs[doc]["address"]["state"] }}</td>
                    <td>{{ docs[doc]["specialist"] }}</td>
                    <td>
                        <form method="POST" action="/search_doc/{{doc}}">
                            <button type="submit" class="btn view_btn">View Profile</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        const searchinfo = () => {
            let filter=document.getElementById('filterInput').value.toUpperCase();
            let filter1=document.getElementById('filterInput1').value.toUpperCase();
            let filter2=document.getElementById('filterInput2').value.toUpperCase();

            let t_body = document.getElementById('docTable');
            let d_info=t_body.getElementsByTagName('tr');
            for (var i=0 ; i<d_info.length ; i++)
            {
                var t_n=d_info[i].getElementsByTagName('td')[0];
                var t_name=(t_n.textContent||t_n.innerHTML);

                var t_s=d_info[i].getElementsByTagName('td')[2];
                var t_spec=(t_s.textContent||t_s.innerHTML);

                var t_p=d_info[i].getElementsByTagName('td')[1];
                var t_plac=(t_p.textContent||t_s.innerHTML);

                if(t_plac.toLocaleUpperCase().indexOf(filter) > -1){
                    if (t_spec.toLocaleUpperCase().indexOf(filter1) > -1) {
                        if (t_name.toLocaleUpperCase().indexOf(filter2) > -1) {
                            d_info[i].style.display = ''
                        } else {
                            d_info[i].style.display = 'none'
                        }
                    } else {
                        d_info[i].style.display = 'none'
                    }
                }else{
                    d_info[i].style.display='none';
                }
            }
        }
    </script>

{% endblock %}